body {
	padding: 0;
	margin: 0;
	margin: auto;
	background: none repeat scroll 0 0 #663300;
	color: white;
	font-family: arial;
}

.grand-content {
	margin: -25px 0 50px 0;
	border-top: 2px solid #ffcc00;
	border-bottom: 3px solid #ffcc00;
	padding-right: 40px;
}

.grand-content>.content {
	background-color: #663300;
	border-top: 3px solid #cc6600;
	border-bottom: 3px solid #cc6600;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

#mercado_paginabundle_contatotype>div>input {
	width: 100%;
}

#mercado_paginabundle_contatotype>div>select {
	width: 102%;
}

#mercado_paginabundle_contatotype>div>textarea {
	width: 100%;
}

.footer>.container-narrow>.google-maps {
	height: 250px;
	width: 300px;
}

@media only screen and (max-width: 992px) {
	.banner{
		margin-bottom: 80px;
	}
}

@media only screen and (max-width: 400px) {
	.footer>.container-narrow>.google-maps {
		height: 200px;
		width: 250px;
	}
}

@media only screen and (max-width: 250px) {
	.footer>.container-narrow>.google-maps {
		height: 150px;
		width: 200px;
	}
}

@media only screen and (min-width: 1600px) {
	#leftNav {
		left: 9%;
	}
	#rightNav {
		right: 9%;
	}
}

@media only screen and (min-width: 992px) {
	body {
		background: url("../images/bg.jpg") /*transparent*/;
		/*opacity:0.6;
  		filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	.header {
		background-color: #663300;
	}
	.header .container-narrow .row-fluid>.logo {
		float: left;
	}
	.header .container-narrow .row-fluid>.mini-menu {
		margin-top: 20px !important;
		float: right;
	}
	#mercado_paginabundle_contatotype>div>input {
		width: 44%;
		clear: right;
		float: left;
	}
	#mercado_paginabundle_contatotype>div>input#mercado_paginabundle_contatotype_email
		{
		margin-left: 5%;
	}
	#mercado_paginabundle_contatotype>div>select {
		width: 99%;
	}
	#mercado_paginabundle_contatotype>div>textarea {
		width: 96%;
	}
	.contato>input.submit {
		background-color: #ffcc00;
		border: none;
		border-radius: 4px;
		color: #663300;
		font-size: 11px;
		padding: 3px 5px;
		float: right;
		margin: 10px 1% 0 0;
	}
	
	.contato>input.submit:hover {
		background-color: #cc6600;
	}
	
	.banner {
		margin: auto;
		width: 960px !important;
	}
	.footer {
		background: none repeat scroll 0 0 #663300;;
	}
	.footer>.container-narrow>.google-maps {
		height: 350px;
		width: 400px;
	}
}

.container-narrow {
	margin: 0 auto;
	max-width: 960px;
}

.container-narrow>hr {
	margin: 30px 0;
}

.header {
	height: 167px;
	padding-top: 10px;
}

.header .container-narrow .row-fluid>.logo {
	clear: right;
	margin: auto;
}

.header .container-narrow .row-fluid>.logo img {
}

.header .container-narrow .row-fluid>.fb-like {
	margin-top: 27px !important;
	float: right;
}

.mini-menu>.nav {
	text-indent: 0px !important;
}

.banner > h2 {
	font-family: 'Shadows Into Light Two', cursive;
	margin-top: 60px;
	line-height: 1.5;
}

.banner .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.content  p+h4 {
	margin-top: 28px;
}

.content div > .texto {
	line-height: 1.9;
}

#mercado_paginabundle_contatotype>div>label {
	display: none;
}

.contato>input.submit {
	float: right;
}

.ico_goo {
	z-index: 9999;
	color: #fff;
	font-family: 'Shadows Into Light Two', cursive;
	background: url("../images/goo.png") no-repeat;
	background-position: 0 100%;
	width: 150px;
	height: 80px;
}

/**
- Melhorar numa arquitetura de layout futura!
- margin negativa
*/
.ico_goo {
	margin: 135px 0px 0px -245px;
}

.ico_goo:hover {
	color: white;
	background: url("../images/google-black.png") no-repeat;
	background-position: 0 100%;
	cursor: pointer;
}

.endereco,.endereco a {
	float: right;
	width: 49%;
	text-decoration: none;
}

.endereco>p {
	color: white;
	margin-top: 0px;
}

.endereco h2 {
	margin-top: 10px;
	font-size: 40px;
	color: #FFF;
	font-weight: 600;
	font-family: 'Shadows Into Light Two', cursive;
}

.footer {
	width: 100%;
	height: 410px;
}

.footer>.container-narrow {
	margin-top: 20px;
	padding-top: 40px;
}

.footer>.container-narrow>.dw {
	
}
<!--
HTML5




 




shim
,
for




 




IE6-8




 




support




 




of




 




HTML5




 




elements




 




-->
<!--
[
if
lt
IE
9
]
>
<
script




 




src








="
js
/html5shiv








.js








"
>
</
script
>
<!
[
endif
]








-->
