<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
	<head>
	<meta http-equiv=content-type content="text/html; charset=iso-8859-1">
	<meta content="mshtml 6.00.2900.3020" name=generator>
	<style></style>
    <title>e-mail automático do site mercadodesabores.com.br</title>
   	</head>
	<body>
   		<p>sua mensagem foi recebida e logo entraremos em contato!</p>
   		<table>
    		<tr>
     			<th>TESTE1</th><th>day</th><th>month</th><th>year</th>
			</tr>
    		<tr>
     			<td>TESTE2</td>
    		</tr>
   		</table>
   		<p>não responda este e-mail</p>
   </body>
</html>