{% extends "MercadoPaginaBundle::layout.html.twig" %}

{% block title "Mercado de Sabores " %}

{% block content %}
<!-- Jumbotron -->
		<div class="yellow"></div>
		<div class="orange"></div>
		<div class="content_inner">
			<h3>Porque consumir produtos orgânicos?</h3>
			<p>Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's standard
				dummy text ever since the 1500s, when an unknown printer took a
				galley of type and scrambled it to make a type specimen book.</p>
		</div>	
		<div class="content_inner">
			<h3>Contato</h3>
			<input type="text" value="Nome" class="input"> <input
				type="text" value="Email" class="input">
			<select	class="subject">
			<option>Sugestão</option>
			<option>Dúvida</option>
			<option>Reclamação</option>
			<option>Informação</option>
			</select>
			<textarea rows="3" cols="" class="message">Mensagem</textarea>
			<input type="button" class="button" value="Enviar">
		</div>
		<div class="yellow"></div>
		<div class="orange"></div>
{% endblock %}