{% extends "MercadoPaginaBundle::layout.html.twig" %}

{% block title "Mercado de Sabores " %}

{% block content %}
<!-- Jumbotron -->

<div class="container">
<figure class="jumbotron">
    <!-- 			<h1>Marketing stuff!</h1> -->
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas
        eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <!-- 			<a class="btn btn-large btn-success" href="#">Get started today</a> -->
</figure>
<hr>
</div>
<!-- Example row of columns -->
<article class="row-fluid">
    <div class="centralizador">
        <div class="span6">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn" href="#">View details &raquo;</a>
            </p>
        </div>
        <div class="span6">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn" href="#">View details &raquo;</a>
            </p>
        </div>
    </div>
</article>
{% endblock %}