{% extends "MercadoPaginaBundle::layout.html.twig" %}

{% block title "Mercado de Sabores " %}

{% block content %}
<div class="grand-content">
			<div class="row-fluid content">
				<div class="span6">
					<h4>Porque consumir produtos orgânicos?</h4>
					<p class='texto'>Alimentos orgânicos são, entre outras coisas, livre de pesticidas
Vários pesticidas utilizados hoje em dia no Brasil estão proibidos em muitos países em razão das consequências provocadas à saúde, tais como o câncer, as alergias e a asma.</p>
				</div>

				<div class="span6">
					<h4>Contato</h4>
					<p>
					Avenida Presidente Franklin Roosevelt, 1241 - Loja 04<br>
					Navegantes - Porto Alegre, RS<br>
					</p>            
	               <form action="{{ path('MercadoPaginaBundle_contato_send') }}" method="post" {{ form_enctype(form) }} class="contato">
				        {{ form_widget(form) }}
        				<input type="submit" value="Enviar" class="submit">
			    	</form>
			    	{% if result is not null %}
					    <p>{{ result }}</p>
					{% endif %}
				</div>
			</div>
		</div>
{% endblock %}