{% extends "MercadoPaginaBundle::layout.html.twig" %}

{% block title "Mercado de Sabores " ~ name %}

{% block content %}
<!-- Jumbotron -->
<figure class="jumbotron">
    <!-- 			<h1>Marketing stuff!</h1> -->
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas
        eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <!-- 			<a class="btn btn-large btn-success" href="#">Get started today</a> -->
</figure>

<hr>

<!-- Example row of columns -->
<article class="row-fluid">
    <div class="span6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a>
        </p>
    </div>
    <div class="span6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce
            dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
            ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.</p>
        <p>
            <a class="btn" href="#">View details &raquo;</a>
        </p>
    </div>
</article>
<hr>
{% endblock %}