body {
	padding: 0;
	margin: 0;
	margin: auto;
	background: none repeat scroll 0 0 #663300;
	color: white;
}

.grand-content {
	margin: 60px 0;
	border-top: 2px solid #ffcc00;
	border-bottom: 3px solid #ffcc00;
	padding-right: 40px;
}

.grand-content>.content {
	background-color: #663300;
	border-top: 4px solid #cc6600;
	border-bottom: 6px solid #cc6600;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer>.container-narrow>.google-maps {
	height: 250px;
	width: 300px;
}

@media only screen and (min-width: 992px) {
	body {
		background: url("../images/bg.jpg") /*transparent*/;
		/*opacity:0.6;
  		filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	.header {
		background-color: #663300;
	}
	.header .container-narrow .row-fluid>.logo {
		float: left;
	}
	.header .container-narrow .row-fluid>.mini-menu {
		margin-top: 20px !important;
		float: right;
	}
	.banner {
		margin: 30px auto;
		width: 960px !important;
	}
	.footer {
		background: none repeat scroll 0 0 #663300;;
	}
	.footer>.container-narrow>.google-maps {
		height: 350px;
		width: 400px;
	}
}

.container-narrow {
	margin: 0 auto;
	max-width: 960px;
}

.container-narrow>hr {
	margin: 30px 0;
}

.header {
	height: 109px;
	padding-top: 20px;
}

.header .container-narrow .row-fluid>.logo {
	width: 100px;
	clear: right;
	margin: auto;
}

.header .container-narrow .row-fluid>.logo img {
	width: 100px;
}

.header .container-narrow .row-fluid>.fb-like {
	margin-top: 27px !important;
	float: right;
}

.mini-menu>.nav {
	text-indent: 0px !important;
}

.banner h1 {
	margin-top: 60px;
	font-size: 72px;
	line-height: 1;
	font-size: 72px;
}

.banner .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.content p+h4 {
	margin-top: 28px;
}

.contato{
	
}

.ico_goo {
	z-index: 9999;
	color: #363636;
	font-family: 'Handlee', cursive;
	background: url("../images/goo.png") no-repeat;
	background-position: 0 100%;
	width: 150px;
	height: 80px;
}

/**
- Melhorar numa arquitetura de layout futura!
- margin negativa
*/
.ico_goo {
	margin: 135px 0px 0px -245px;
}

.ico_goo:hover {
	color: white;
	background: url("../images/google-black.png") no-repeat;
	background-position: 0 100%;
	cursor: pointer;
}

.endereco,.endereco a {
	float: right;
	width: 49%;
	text-decoration: none;
}

.endereco>p {
	color: white;
	font-family: 'Handlee', cursive;
	margin-top: 30px;
}

.endereco h2 {
	margin-top: 20px;
	font-size: 32px;
	color: #FFF;
	font-weight: 400;
	line-height: 20px;
	font-family: 'Satisfy', cursive;
}

.footer {
	width: 100%;
	height: 410px;
}

.footer>.container-narrow {
	margin-top: 20px;
	padding-top: 40px;
}

.footer>.container-narrow>.dw {
	
}

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
<![endif]-->