<IfModule mod_rewrite.c>
	RewriteEngine On
	<IfModule mod_vhost_alias.c>
   		RewriteBase /web/app.php
	</IfModule>
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ /web/app.php [QSA,L]
</IfModule>